html{
    font-size: 22px;
}

body{
  background-color:#9DF3C4;
}



th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 2.5rem;
    text-align: center;
}
